.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.test-results {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.test-result-header {
  margin-left: 20px;
  margin-right: 20px;
}

.test-cases {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.test-case {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.test-case-result-text {
  font-size: 16px;
}
